doctype html
html
	head
		title JSDraw Alpha
		//- link(rel="stylesheet",href="/lib/font-awesome/css/font-awesome.css")
		link(rel="stylesheet",href="css/style.css")
	body
		.gui
			.header
				.logo
					i.fa.fa-paint-brush
					| JSDraw
				.right
					button.fa.fa-file-o
					button.fa.fa-save
					button.fa.fa-folder-o
			.left.panel.opened
				.pane
					.pane-title Project Properties
					.pane-body
						.section
							.title Canvas
							ul
								li
									label Width
									input#canvas-width(value=640)
								li
									label Height
									input#canvas-height(value=480)
				.pane
					.pane-title Toolbox
					.pane-body
						.section
							.title Tools
							ul.tools
								li.selected: span.fa.fa-pencil
								li: span.fa.fa-eraser
								li: span A
								li: span G
								li: span C
								li: span S
								li: span S
						.section
							.title Brush
							ul
								li
									label Size
									input(type="range", step=1, min=0, max=100, value=1)#brush-size
						.section
							.title Colors
							ul
								li
									label FG
									input(type="color", value="#000000")#color-fg
								li
									label BG
									input(type="color", value="#ffffff")#color-bg
			.viewport
				.view
			.right.panel.opened
				.pane
					.pane-title Layers
					.pane-body
						.section
							//- .title Layers
							ul.layers
								li
									span Layer 1
									a.entity-edit-trigger(
										data-trigger-method="edit",
										data-trigger-id="1"
								)
							a.btn.new-mesh-trigger(
								data-trigger-method="newMesh"
							) New Layer

		//- lib
		//- script(src="/lib/jquery/dist/jquery.js")
		//- script(src="/lib/lodash/lodash.js")
		//- gui
		//- script(src="/js/gui/element.js")
		//- script(src="/js/gui/panel.js")
		//- script(src="/js/gui/toolbar.js")
		//- script(src="/js/jsd/view.js")
		//- app
		script(src="js/app.js")
