.gui {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	.header {
		margin: 5px 0px;
		width: 100%;
		height: $jsd-header-height;
		display: table;
		box-sizing: border-box;
	}
	.viewport {
		position: absolute;
		top: $jsd-header-height + 5;
		bottom: 0px;
		right: $jsd-panel-width;
		left: $jsd-panel-width;
	}
}
