.gui {
	.header {
		background: $jsd-header-bg-color;
		border-bottom: 1px solid $jsd-header-border-color;
		> * {
			display: block;
			height: $jsd-header-height;
			line-height: $jsd-header-height;
			margin: 0px;
			padding: 0px 5px;
			color: $jsd-header-fg-color;
			position: absolute;
			top: 0px;
		}
		.logo {
			left: 50%;
			margin-left: -100px;
			font-size: 20px;
			font-family: $jsd-logo-font;
			font-weight: bold;
			text-align: center;
			width: 200px;
		}
		.left {
			left: 5px;
		}
		.right {
			right: 5px;
		}
		a, button {
			position: relative;
			display: inline-block;
			height: $jsd-header-height - 8px;
			line-height: $jsd-header-height - 8px;
			background: inherit;
			color: #333;
			font-size: 14px;
			font-weight: 400;
			border: 0px;
			text-align: center;
			cursor: pointer;
			outline: none;
			padding: 0px 5px;
			margin: 4px;
			&:hover, &.selected, &.toggled {
				color: #ccc;
			}
		}
		.visible {
			display: inline-block;
		}
	}
}
