.gui {
	.left-panel {
		background: #999;
		color: #000;
		position: absolute;
		top: $jsd-toolbar-height;
		left: 0px;
		bottom: 0px;
		width: 0px;
		padding: 0px 0px;
		&.opened {
			width: $jsd-panel-width;
			& + .viewport {
				left: $jsd-panel-width;
				border-left-width:0px;
			}
		}
		a.btn {
			padding: 0px;
			margin: 5px;
			text-align: center;
			height: 25px;
			line-height: 25px;
			font-size:14px;
			background: #888;
			display: block;
			cursor: pointer;
			&:hover {
				background: #777;
			}

		}
		.pane {
			margin-bottom: 20px;
			.pane-title {
				background: #777;
				padding: 2px;
				font-size: 14px;
			}
			.section {
				.title {
					background: #888;
					padding: 2px;
					font-size: 12px;
				}
				> ul {
					margin: 0px;
					padding: 0px;
					list-style-type: none;
					li {
						margin: 5px 0px;
						padding: 0px 5px;
						height: 25px;
						line-height: 25px;
						cursor: pointer;
						font-size: 0px;
						&:hover {
							background: #888;
						}
						&.selected {
							background: #777;
						}
						span {
							display: block;
							font-size: 12px;
							width: 100%;
							text-align: center;
							height: 25px;
							line-height: 25px;
						}
						> label, > input {
							font-size:12px;
							margin: 0px;
							padding: 0px;
							padding-left: 5px;
							display: inline-block;
							-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
							-moz-box-sizing: border-box;    /* Firefox, other Gecko */
							box-sizing: border-box;
							height: 25px;
							line-height: 25px;
							border: 0px;
							outline: none;
						}
						label {
							width: 31%;
						}
						input {
							width: 69%;
							background: #777;
							color: #333;
							border-image: none;
							vertical-align: top;
							&.p30 {
								width: 23%;
							}
						}
					}
				}
				
			}
		}
		.object-pane {
			background: #999;
			color: #000;
			bottom: 0px;
			width: 100%;
			height: $jsd-object-pane-height;
			display: none;
			&.active {
				display: block;
				& + .scene-pane{	
					bottom: $jsd-object-pane-height;
				}
			}
			.props {
				margin: 0px;
				padding: 0px;
				list-style-type: none;
				li {
					margin: 5px 0px;
					padding: 0px 5px;
					height: 30px;
					line-height: 30px;
					cursor: pointer;
					font-size: 0px;
					&:hover {
						background: #888;
					}
					&.selected {
						background: #777;
					}
					> * {
						font-size:14px;
						margin: 0px;
						padding: 0px;
						padding-left: 5px;
						display: inline-block;
						-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
						-moz-box-sizing: border-box;    /* Firefox, other Gecko */
						box-sizing: border-box;
						height: 30px;
						line-height: 30px;
						border: 0px;
						outline: none;
					}
					label {
						width: 31%;
					}
					input {
						width: 69%;
						background: #777;
						color: #333;
						&.p30 {
							width: 23%;
						}
					}
				}
			}
		}
			
	}
	
}
